/* border: 1px solid black; /* სიგანე, სტილი, ფერი */


/* padding: 10px;       ყველა მხარეს განსხვავებული ზომა
padding-top: 5px;         
padding-right: 15px;       
padding-bottom: 10px;   
padding-left: 20px; */